.container {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
}

.container-xs {
    width: 100px;
}

.container-sm {
    width: 250px;
}

.container-md {
    width: 500px;
}

.container-lg {
    width: 1000px;
}

.container-xl {
    width: 1500px;
}