.card {
    width: 500px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px gray;
    margin: auto;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}

.card-scroll {
    overflow-x: scroll;
}

.card-scroll::-webkit-scrollbar {
    height: 10px;
    padding-left: 100px;
  }
  

.card-scroll::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
}

.card-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #696969;
}

.card-scroll::-webkit-scrollbar-track {
    margin-left: 10px;
    margin-right: 10px;
}

.card-xs {
    width: 100px;
}

.card-sm {
    width: 250px;
}

.card-md {
    width: 500px;
}

.card-lg {
    width: 750px;
}

.card-xl {
    width: 1000px;
}