.card {
    width: 500px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px gray;
    margin: auto;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    overflow-x: scroll;
}

.card::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
}

.card-xs {
    width: 100px;
}

.card-sm {
    width: 250px;
}

.card-md {
    width: 500px;
}

.card-lg {
    width: 750px;
}

.card-xl {
    width: 1000px;
}